body{
  background:#f4f4f4;
  margin:0;
  padding: 0;
  font-family: "Georgia",serif;

}
/*index page*/
.toptitle{
  text-align: center;
  /*margin-top: 1% !important;*/
}
.formbox{
  margin-top: 1%;
  background-color: rgba(255,255,255,0.7);
  height: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
  padding: 10px;
  position: relative;
}
  .logo>img{
    margin-top: 2%;
    width:50%;
    height: 30%;
    position: relative;
    left: 25%;
  }
/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}
/*top background and color*/
.navbar-default {
  background-color: #c0392b;
  border-color: #bdc3c7;
}

.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

/* Custom */
.main-color-bg{
  background-color: #333333 !important;
  border-color: #2c3e50 !important;
  color:#ffffff !important;
}
/*cog background*/
.cog-back{
  background-color: #333333 !important;
}
/* Header  text*/
#header{
  background-color:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

#login{
  margin-top:30px;
}

.btn-danger{
  background-color: #c0392b !important;
}

/*for pic zoom*/
